@media screen and (max-width: 900px){
    body{
        overflow-x: hidden;
    }
    .name-title{
        text-align: center;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        position: relative;
        top: 50px;
    }
    .labels{
        text-align: center; 
        position: relative;
        top: 100px; 
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    .home,.aboutme,.work,.cv,.instagram{
        text-decoration: none;
        padding: 10px;
        color: darkslategray;
    }
    .home:hover,.aboutme:hover,.work:hover,.cv:hover,.instagram:hover{
        position: relative;
        border-style: solid;
        border-color: black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-width: 2px;
        color: darkslategray;
    }
    .insta-image{
        position: relative;
        float: right;
        width: 20px;
        height: auto;
    }
    .bottom{
        text-align: center;
        position: relative;
        font-family: 'Poppins', sans-serif;
        top: 300px;
    }
    .sub{
        border-radius: 0%;
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        font-family: 'Poppins', sans-serif;
    }
    .button2{
        margin-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: black;
        color: white;
        font-family: 'Poppins', sans-serif;
        border-style: hidden;
    }
    .title{
        position: relative;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        top: 150px;
    }
    .Cv{
        position: relative;
        top: 200px;
        width: 100%;
        height: 100%;
        border-style: solid;
        border-radius: 10px;
    }
}


/* For Pc */
@media only screen and (min-width: 900px){
    body{
        overflow-x: hidden;
    }
    .name-title{
        text-align: center;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        position: relative;
        top: 50px;
    }
    .labels{
        text-align: center; 
        position: relative;
        top: 100px; 
        font-family: 'Poppins', sans-serif;
    }
    .home,.aboutme,.work,.cv,.instagram{
        text-decoration: none;
        padding: 10px;
        color: darkslategray;
    }
    .home:hover,.aboutme:hover,.work:hover,.cv:hover,.instagram:hover{
        position: relative;
        border-style: solid;
        border-color: black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-width: 2px;
        color: darkslategray;
    }
    .insta-image{
        position: relative;
        float: right;
        width: 20px;
        height: auto;
    }
    .title{
        position: relative;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        top: 200px;
    }
    .Cv{
        position: relative;
        text-align: center;
        border-style: solid;
        border-color: darkslategray;
        border-width: 2px;
        border-radius: 10px;
        top: 200px;
        left: 26%;

    }
    .bottom{
        text-align: center;
        position: relative;
        font-family: 'Poppins', sans-serif;
        top: 250px;
    }
    .sub{
        border-radius: 0%;
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        font-family: 'Poppins', sans-serif;
    }
    .button2{
        margin-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: black;
        color: white;
        font-family: 'Poppins', sans-serif;
        border-style: hidden;
    }
    .form2{
        position: relative;
        bottom: 20px;
    }
}