/* For Mobiles and Tablet */
@media screen and (max-width: 900px){
    body{
        overflow-x: hidden;
    }
    .name-title{
        text-align: center;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        position: relative;
        top: 50px;
    }
    .labels{
        text-align: center; 
        position: relative;
        top: 100px; 
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }
    .home,.aboutme,.work,.cv,.instagram{
        text-decoration: none;
        padding: 10px;
        color: darkslategray;
    }
    .insta-image{
        position: relative;
        float: right;
        width: 20px;
        height: auto;
    }
    .description{
        position: relative;
        z-index: 1;
        text-align: center;
        overflow: hidden;
        color: white;
        top: 15em;
        font-size: 100%;
        font-family: 'Poppins', sans-serif;
    }
    .main-pic{
        position: relative;
        display: grid;
        background-color: black;
        opacity: 1;
        filter: brightness(70%);
    }
    .main-pic2{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .contact{
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
        top: 20px;
        font-family: 'Poppins', sans-serif;
    }
    .temp{
        font-size: 10px;
        position: relative;
        top: 40px;
    }
    .maps{
        position: relative;
        top: 80px;
        padding-bottom: 80px;
        text-align: center;
        padding-left: 0px;
    }
    .form{
        position: relative;
        display: grid;
        grid-template-rows: 10%;
        font-family: 'Poppins', sans-serif;
    }
    textarea{
        position: relative;
        bottom: 15px;
        border-style: solid;
        border-width: 3px;3
        padding-bottom: 20px;
    }
    .input{
        border-radius: 0%;
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }
    .button1{
        background-color: black;
        color: white;
        font-family: 'Poppins', sans-serif;
        border-style: hidden;
        padding: 8px;
    }
    .bottom{
        text-align: center;
        position: relative;
        font-family: 'Poppins', sans-serif;
    }
    .sub{
        border-radius: 0%;
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        font-family: 'Poppins', sans-serif;
    }
    .button2{
        margin-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: black;
        color: white;
        font-family: 'Poppins', sans-serif;
        border-style: hidden;
    }
    .proverb{
        position: relative;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: white;
        bottom: 250px;
    }
}



/* For Pc */
@media only screen and (min-width: 900px){
body{
    overflow-x: hidden;
}
.name-title{
    text-align: center;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 50px;
}
.labels{
    text-align: center; 
    position: relative;
    top: 100px; 
    font-family: 'Poppins', sans-serif;
}
.home,.aboutme,.work,.cv,.instagram{
    text-decoration: none;
    padding: 10px;
    color: darkslategray;
}
.insta-image{
    position: relative;
    float: right;
    width: 20px;
    height: auto;
}
.description{
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
    color: white;
    top: 15em;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.main-pic{
    position: relative;
    display: grid;
    background-color: black;
    opacity: 1;
    filter: brightness(70%);
    bottom: 100px;
}
.main-pic2{
    display: grid;
    grid-template-columns: 50% 50%;
}
.contact{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 95%;
}
.temp{
    font-size: 10px;
    position: relative;
    top: 40px;
}
.maps{
    position: relative;
    padding-bottom: 80px;
    text-align: center;
    padding-left: 0px;
}
.form{
    position: relative;
    display: grid;
    grid-template-rows: 10%;
    font-family: 'Poppins', sans-serif;
}
.form2{
    position: relative;
    bottom: 20px;
}
textarea{
    position: relative;
    bottom: 15px;
    border-style: solid;
    border-width: 3px;3
    padding-bottom: 20px;
}
.input{
    border-radius: 0%;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: 'Poppins', sans-serif;
}
.button1{
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-style: hidden;
    padding: 8px;
}
.bottom{
    text-align: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.sub{
    border-radius: 0%;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: 'Poppins', sans-serif;
}
.button2{
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-style: hidden;
}
.proverb{
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    bottom: 750px;
    font-size: 30px;
}
}